body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    padding: 20px;
}

h1 {
    color: blue;
}

h2 {
    font-size: 18px;
    font-weight: bold;
}

p {
    font-size: 16px;
}

.box {
    background-color: #fff8dc;
    padding: 10px;
    border-left: 5px solid orange;
}

.code {
    background-color: white;
    padding: 10px;
    font-family: monospace;
    border: 1px solid black;
    margin: 10px 0;
}


